.middelpar {
  width: 40%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.task-form-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#taskForm {
  display: inline;
}

button#addTask {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#addTask:hover {
  background-color: #0056b3;
}

.task-section {
  margin-top: 20px;
}

.task-list {
  list-style-type: none;
  padding: 10px;
  border: 2px solid #ccc;  /* Add border around the entire list */
  border-radius: 8px;
  margin: 0;
}

.task-list li {
background-color: #fff;
margin: 10px 0;
padding: 10px;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
border: 1px solid #ddd;  /* Border for each task */
}
.scrollable {
  max-height: 255px;
  overflow-y: auto;
  margin-bottom: 20px;
}
input[type="checkbox"] {
    margin-right: 10px;
  }
